<div class="container-fluid">
  <div class='main'>
    <div class='header'>
      <div class='section'>
        <div class="col-md-4 ng-select-wrapper">
          <ng-select
            [disabled]='disabled'
            dropdownPosition="'bottom'"
            [placeholder]="'eForm'"
            [clearable]="false"
            [items]="eForms.templates"
            [(ngModel)]="state"></ng-select>
        </div>
      </div>
    </div>

    <div class='content' *ngIf="state == undefined? false : state.id == 60"> <!-- kran -->
      <app-crane [disabled]="disabled"></app-crane>
    </div>
    <div class='content' *ngIf="state == undefined? false : state.id == 62"> <!-- vand -->
      <app-water [disabled]='disabled'></app-water>
    </div>
  </div>

  <eform-spinner [spinnerVisibility]="spinnerStatus"></eform-spinner>
</div>
