<div class="container-fluid">
  <div class='main'>
    <div class='header'>
      <div class='section'>
        <div class="col-md-4 ng-select-wrapper">
          <ng-select
            dropdownPosition="'bottom'"
            [placeholder]="'eForm'"
            [bindValue]="'id'"
            [clearable]="false"
            [items]="eForms.templates"
            [(ngModel)]="state.id"></ng-select>
        </div>
      </div>
    </div>

    <div class='content' *ngIf="state.id == 1734"> <!-- kran -->
      <app-crane></app-crane>
    </div>
    <div class='content' *ngIf="state.id == 1200"> <!-- vand -->
      <app-water></app-water>
    </div>
  </div>

  <eform-spinner [spinnerVisibility]="spinnerStatus"></eform-spinner>
</div>
