<div class='main'>
  <div class='header'>
    <div class='section'>
      <label>{{this.eform.label}}</label>
      <select [(ngModel)]='state' >
        <option *ngFor='let optionItem of eform.value'
            [ngValue]='optionItem.value' >{{optionItem.label}}</option>
      </select>
    </div>
  </div>
  
  <div class='content' *ngIf="state == 'crane'">
    <app-crane></app-crane>
  </div>
  <div class='content' *ngIf="state == 'water'">
    <app-water></app-water>
  </div>

  <div class='section'>
    <div class='button'>Insert</div>
  </div>
</div>
