<div class='section'>
  <div class='section-header'>
    <div class="col-md-4 ng-select-wrapper">
      <ng-select
        [disabled]="disabled"
        dropdownPosition="'bottom'"
        [placeholder]="'Skibe'"
        [clearable]="false"
        [items]="ships.advEntitySelectableItemModels"
        [(ngModel)]="selectedShip"
        [bindLabel]="'name'"></ng-select>
    </div>
  </div>
</div>

<div class='section'>
  <div class='section-header'>
    <div class="col-md-4 ng-select-wrapper">
      <ng-select
        [disabled]="disabled"
        dropdownPosition="'bottom'"
        [placeholder]="'Kaje'"
        [clearable]="false"
        [items]="quays.advEntitySelectableItemModels"
        [(ngModel)]="selectedQuay"
        [bindLabel]="'name'"></ng-select>
    </div>
  </div>
</div>
<div class='section'>
  <div class='section-header'>
    <div class="col-md-4 ng-select-wrapper">
      <ng-select
        [disabled]="disabled"
        dropdownPosition="'bottom'"
        [placeholder]="'Kraner'"
        [clearable]="false"
        [items]="cranes.advEntitySelectableItemModels"
        [(ngModel)]="selectedCrane"
        [bindLabel]="'name'"></ng-select>
    </div>
  </div>
</div>
<div class='section'>
  <div class='section-header'>
    <label>Medarbejdere</label>
    <div class='padding'></div>
    <!--<div class='link'>{{this.content.workers.label_edit}}</div>-->
    <!--<div class='link'>{{this.content.workers.label_refresh}}</div>-->
  </div>
  <div class="row">
    <ng-container *ngFor="let siteDto of sitesDto">
      <div class="col-md-12">
        <div class="mat-checkbox" >
          <input id="checkboxSites{{siteDto.siteUId.toString()}}" (change)="onSites(siteDto)" [disabled]="disabled"
                 [checked]="parsedSiteIds.includes(siteDto.siteUId.toString())" [value]="parsedSiteIds.includes(siteDto.siteUId.toString())" color="primary" type="checkbox">
          <label for="checkboxSites{{siteDto.siteUId.toString()}}">{{siteDto.siteName}}</label>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<br>
<!--<div class='section'>-->
  <!--<div class='section-header'>-->
    <!--<label>Besked til medarbejder</label>-->
    <!--<pell-editor [(value)]="currentMessage"></pell-editor>-->
  <!--</div>-->
<!--</div>-->

<div class='section'>
  <button class='btn btn-ar btn-danger' (click)='onInsert()' [disabled]="disabled">Insert</button>
</div>

<eform-spinner [spinnerVisibility]="spinnerStatus"></eform-spinner>
