<div class='section'>
  <div class='section-header'>
    <label>Skibe</label>
    <div class='padding'></div>
    <!--<div class='link'>{{this.content.ship.label_edit}}</div>-->
    <!--<div class='link'>{{this.content.ship.label_refresh}}</div>-->
  </div>
  <select [(ngModel)]='selectedShip' >
    <option *ngFor='let entityItem of ships.advEntitySelectableItemModels'
            [ngValue]='entityItem' >{{entityItem.name}}</option>
  </select>
</div>
<div class='section'>
  <div class='section-header'>
    <label>Kaje</label>
    <div class='padding'></div>
    <!--<div class='link'>{{this.content.quay.label_edit}}</div>-->
    <!--<div class='link'>{{this.content.quay.label_refresh}}</div>-->
  </div>
  <select [(ngModel)]='selectedQuay' >
      <option *ngFor='let entityItem of quays.advEntitySelectableItemModels'
          [ngValue]='entityItem' >{{entityItem.name}}</option>
  </select>
</div>
<div class='section'>
  <div class='section-header'>
    <label>Medarbejdere</label>
    <div class='padding'></div>
    <!--<div class='link'>{{this.content.workers.label_edit}}</div>-->
    <!--<div class='link'>{{this.content.workers.label_refresh}}</div>-->
  </div>
  <ul>
      <li *ngFor='let siteDto of sitesDto'
          (click)="onSites(siteDto)" >
          <input type='checkbox'>{{siteDto.siteName}}
      </li>
  </ul>
</div>
<div class='section'>
  <label>Besked til medarbejder</label>
  <textarea [(ngModel)]='currentMessage' rows="8" ></textarea>
</div>
