<div class='section'>
  <div class='section-header'>
    <label>Skibe</label>
    <div class='padding'></div>
    <!--<div class='link'>{{this.content.ship.label_edit}}</div>-->
    <!--<div class='link'>{{this.content.ship.label_refresh}}</div>-->
  </div>
  <select [(ngModel)]='state.shipid' >
    <option *ngFor='let entityItem of ships.advEntitySelectableItemModels'
            [ngValue]='entityItem.microtingUUID' >{{entityItem.value}}</option>
  </select>
</div>
<div class='section'>
  <div class='section-header'>
    <label>Kaje</label>
    <div class='padding'></div>
    <!--<div class='link'>{{this.content.quay.label_edit}}</div>-->
    <!--<div class='link'>{{this.content.quay.label_refresh}}</div>-->
  </div>
  <select [(ngModel)]='state.quayid' >
      <option *ngFor='let entityItem of quays.advEntitySelectableItemModels'
          [ngValue]='entityItem.microtingUUID' >{{entityItem.value}}</option>
  </select>
</div>
<div class='section'>
  <div class='section-header'>
    <label>Medarbejdere</label>
    <div class='padding'></div>
    <!--<div class='link'>{{this.content.workers.label_edit}}</div>-->
    <!--<div class='link'>{{this.content.workers.label_refresh}}</div>-->
  </div>
  <ul>
      <li *ngFor='let entityItem of workers.advEntitySelectableItemModels; index as i'
          (click)='onWorkers(i)' >
          <input type='checkbox' [(ngModel)]='state.workers[i]'
              >{{entityItem.value}}
      </li>
  </ul>
</div>
<div class='section'>
  <label>Besked til medarbejder</label>
  <textarea [(ngModel)]='state.message' rows="8" ></textarea>
</div>
