<div class='section'>
  <div class='section-header'>
    <div class="col-md-4 ng-select-wrapper">
      <ng-select
        dropdownPosition="'bottom'"
        [placeholder]="'Skibe'"
        [clearable]="false"
        [items]="ships.advEntitySelectableItemModels"
        [(ngModel)]="selectedShip"
        [bindLabel]="'name'"></ng-select>
    </div>
  </div>
</div>

<div class='section'>
  <div class='section-header'>
    <div class="col-md-4 ng-select-wrapper">
      <ng-select
        dropdownPosition="'bottom'"
        [placeholder]="'Kaje'"
        [clearable]="false"
        [items]="quays.advEntitySelectableItemModels"
        [(ngModel)]="selectedQuay"
        [bindLabel]="'name'"></ng-select>
    </div>
  </div>
</div>

<div class='section'>
  <div class='section-header'>
    <label>Medarbejdere</label>
    <div class='padding'></div>
    <!--<div class='link'>{{this.content.workers.label_edit}}</div>-->
    <!--<div class='link'>{{this.content.workers.label_refresh}}</div>-->
  </div>
  <div class="row">
    <ng-container *ngFor="let siteDto of sitesDto">
      <div class="col-md-12">
        <div class="mat-checkbox" >
          <input id="checkboxSites{{siteDto.siteUId.toString()}}" (change)="onSites(siteDto)"
                 [checked]="parsedSiteIds.includes(siteDto.siteUId.toString())" [value]="parsedSiteIds.includes(siteDto.siteUId.toString())" color="primary" type="checkbox">
          <label for="checkboxSites{{siteDto.siteUId.toString()}}">{{siteDto.siteName}}</label>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class='section'>
  <label>Besked til medarbejder</label>
  <textarea [(ngModel)]='currentMessage' rows="8" ></textarea>
</div>

<div class='section'>
  <div class='button' (click)='onInsert()'>Insert</div>
</div>

<eform-spinner [spinnerVisibility]="spinnerStatus"></eform-spinner>
